click
pandas
omegaconf
tqdm
wandb
lmdb
openai
anthropic
Pillow
seaborn
scipy
scikit-learn
plotly
torch
clip
torchvision
open_clip_torch
flask
python-Levenshtein
git+https://github.com/guestrin-lab/lotus.git
gradio